


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared style */
.display-flex{
    display: flex;
}
.btn-primary{
    background-color: rgba(230, 83, 60, 1);
}
.bg-color{
    background-color: rgba(17, 17, 17, 1);
    padding-left: 30px;
}
.text-p{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    /* text-align: center; */
}
.text-pp{
    text-align: center;
}
/* nav section */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 190px 32px 190px;
    padding-top: 57px;
   max-width: 1064px;
    height: 57px;
    text-decoration: none;
}
#fitness{
    font-weight: 800;
    font-style: italic;
    font-size: 2.1rem;
    text-decoration: none;
    color: rgba(230, 83, 60, 1);
    ;
}
.nav-li{
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 4px;
    gap: 47px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    color: rgba(255, 255, 255, 1);
    ;
}
.nav-item{
    align-items: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 1.1rem;
    padding-right: 20px;
}
.home-btn{
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: 46px;
    padding: 8px 20px 8px 20px;
    color:  rgba(255, 255, 255, 1);
    ;
}
/* banner-section */
.banner{
     justify-content: space-between;
     align-items: center;
     /* margin: 96px 90px 76px 190px; */
}
.banner-container{
   max-width: 600px;
    margin: 96px 176px 76px 190px;
}
.banner-title{
    font-weight: 900;
    font-size: 4.9rem;
    color:  rgba(255, 255, 255, 1);
    ;
}
.shape{
    font:  Miama;
    font-weight: 400;
    font-size: 4.9rem;
    font-style: italic;
}


.join-btn{
    max-width:  224px;
height: 54px;
padding: 16px 40px 16px 40px;
gap: 10px;
border-radius: 42px;
opacity: 0px;
background: rgba(230, 83, 60, 1);

}
.btn-text{
    font-size: 18px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);

}
#download-btn{
    max-width:  224px;
    height: 54px;
    padding: 16px 40px 16px 40px;
    gap: 10px;
    border-radius: 42px;
    border: 1px solid rgba(255, 255, 255, 1);
    background: linear-gradient(180deg, #111111 0%, rgba(119, 119, 119, 0) 100%);

}
.img{
    width: 349px;
    height: 580px;
    margin:  32px 214px 100px 0px;
}

#Workout-videos{
    width: 193px;
    height: 98px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1);
    position: relative;
    margin-bottom: -270px;
    margin-left: 220px;
}
#nu1{
font-size: 2.5rem;
font-weight: 900;
color: rgba(255, 255, 255, 1);
/* margin-left: 24px;
margin-top: 19px; */
margin: 19px auto 0px 24px;
}
#Workout{
font-size: 0.8rem;
font-weight: 400;
letter-spacing: 1px;
color: rgba(255, 255, 255, 0.65);
margin: 5px auto auto 24px;
}
#Video-tut{
    display: flex;
    justify-content: space-between;
width: 206px;
height: 96px;
gap: 0px;
border-radius: 12px;
opacity: 0px;
margin-top:-250px ;
margin-left: -100px;
background-color: rgba(48, 48, 48, 0.54);
border: 1px solid rgba(255, 255, 255, 0.1)

}
#tutorial{
    font-size: 1rem;
font-weight: 400;
letter-spacing: 1px;
color: rgba(255, 255, 255, 0.65);
}
#nu2{
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 24px;
    color: rgba(250, 250, 249, 1);
    margin: 20px 63px 5px 0px;

}
.ball{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(230, 83, 60, 1);
    margin: 28px 12px 28px 23px;
}
/* habits section */

.habits-container{
/* max-width: 1044px;
max-height: 452px; */
margin: 100px 198px;
}
.habit-description{
    align-items: center;
    justify-content: center;
}
.habit-h{
font-size: 3rem;
font-weight: 900;
line-height: 57.6px;
text-align: center;
color: rgba(255, 255, 255, 1);
margin-bottom: 0px;

}

.habits{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.habit{
     max-width: 231px;
     max-height: 274px;
     gap: 30px;
    justify-content: center;
    align-items: center;
}
.habit-img{
    width: 180px;
    height: 180px;
    border-radius: 100px;
    border: 4px solid rgba(255, 255, 255, 0.1);
    margin-left: 10px;
    
    
}
.habit-h4{
    font-weight: 600;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    margin-bottom: 0px;

}
/* run section */
.run-container{
    display: flex;
    justify-content: space-between;
    max-width: 1060px;
    max-height: 371px;
    margin: 0px 190px 100px 190px;
    background-color: rgba(34, 34, 34, 1);
    border-radius: 18px;
    
}

.run-h2{
    font-size: 3rem;
    font-weight: 900;
    color: rgba(255, 255, 255, 1);
    margin-top: 0px;
    margin-bottom: 20px;
}
#run-p{
    text-align: left;
    margin-top: 0px;
}
.run-join-btn{
    max-width: 224px ;
max-height: 54px;
padding: 16px 40px 16px 40px;
gap: 10px;
border-radius: 42px;
opacity: 0px;
background: rgba(230, 83, 60, 1);
font-size: 1.1rem;
font-weight: 600;
color: rgba(255, 255, 255, 1);

}
.run-img{
    width: 366px;
height: 312px;
border-radius: 18px;
opacity: 0px;
margin: 30px 32px 29px 0px;
}
.run-description{
    max-width: 443px;
    max-height: 290px;
    margin: 41px 163px 40px 57px;
}
/* BMI calculate section */


.bmi{
    max-width: 671px;
max-height: 120px;
gap: 14px;
opacity: 0px;
margin: 0px 385px 88px 385px;
}
.bmi-h2{
    font-size: 3rem;
    font-weight: 900;
    color: rgba(255, 255, 255, 1);
    margin-top: 0px;
    margin-bottom: 0px;
}
.bmi-calculat{
    display: flex;
    background: rgba(34, 34, 34, 1);

}
.bmi-h{
    width: Fill (443px);
height: Hug (34px);
gap: 14px;
opacity: 0px;
font-size: 1.8rem;
font-weight: 900;
color: rgba(255, 255, 255, 1);
margin: 52px 44px 52px 187px;
}
#bmi-h{
    margin: 0px 134px 14px 0px;
}
.bmi-chat{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 310px;
height: 216px;
gap: 0px;
border: 1px;
margin: 52px 175px 133px 189px;
}
.item{
    font-size: 0.9rem;
    font-weight: 400;
    padding: 13px;
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1)
}
.item-h{
    font-size: 1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}
.bmi-form-container{
    width:577px;
height: 96px;
gap: 14px;
opacity: 0px;
margin-bottom: 34px;
}
.bmi-calculat-container{
    margin: 49px 189px 34px 52px;
}
.input{
    display: flex;
    width: Fill (577px);
    justify-content:space-between ;
height: Hug (48px);
gap: 12px;

}
.input-item{
    width: 50%;
height: Fixed (48px);
padding: 12px 40px 12px 20px;
gap: 10px;
border-radius: 8px;
opacity: 0px;
background-color: rgba(255, 255, 255, 0.1);
margin-bottom: 12px;
font-size: 1rem;
font-weight: 400;
}
#input-text{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 12px;
    padding-left: 20px;
    font-size: 1rem;
    font-weight: 400;
}
.Calculate-btn{
    width: 224px;
max-height: 54px;
padding: 16px 40px 16px 40px;
gap: 10px;
border-radius: 42px;
opacity: 0px;
background: rgba(230, 83, 60, 1);
font-size: 1.15rem;
font-weight: 600;
color: rgba(255, 255, 255, 1);

}



/* meet section */
.meet-section{
    width: 1,060px;
    max-height: 782px;
    gap: 58px;
    align-items: center;
    justify-content: center;
    margin: 0px 190px 88px 190px;

}

.meet-description{
    max-width:671px ;
max-height: 120px;
opacity: 0px;
margin: 0px 195px 58px 195px;
}
.trainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 18px;

}
.trainer-card{
    width: 326.67px;
height: 272px;
border-radius: 18px;
}
.trainer-name{
    margin-top: -100px;
    margin-left: 17px;
}
.trainer-h4{
    font-size: 1.2rem;
    font-weight: 900;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 0px;

}
.trainer-p{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 5px;

}
.trainer-img{
    width: 326.67px;
height: 272px;
border-radius: 18px;
}
/* footer section */

.footer{
    width: 100%;
    height: 489px;
    background: rgba(255, 255, 255, 0.1);
    margin: 0px;

}

.footer-container{
    display: flex;
    justify-content: space-between;
    width: Hug (1,059px);
height: Hug (249px);
margin: 66px 190px;
gap: 102px;
opacity: 0px;
}
#f-border{
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 150px ;
}

.footer-description{
    max-width: 443px;
max-height: 176px;
gap: 20px;
opacity: 0px;
justify-content: left;
align-items: start;
margin: 0px 102px 73px 0px;
}
.footer-Contact{
    max-width: 514px;
max-height: 249px;
gap: 100px;
opacity: 0px;
    display: flex;
    justify-content: space-between;
    margin: 0px;
}
.footer-fitness{
    font-size: 4.4rem;
    font-weight: 800;
    font-style: italic;
    color: rgba(230, 83, 60, 1);
    margin: 0px 187px 20px 0px;
}
.Contact-start{
    font-size: 2rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);

}
.f-contact{
    width: Hug (181px)px;
height: Hug (249px)px;
gap: 39px;
opacity: 0px;

    text-align: start;
}
.Contact{
    width: Fill (181px);
height: Hug (172px);
gap: 20px;
opacity: 0px;
font-size: 1.5rem;
font-weight: 400px;
color: rgba(255, 255, 255, 0.5);

}

.copy-right{
    width: 318px;
    height: 24px;
    font-size: 1.25rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
     align-items: center;
     justify-content: center;
     margin: 35px 560px 35px 560px;
}

@media screen and (max-width:576px) {
    .nav{
        margin: 0px;

    }
    .nav-li{
        display: none;
    }
.banner{
    flex-direction: column;
}
.banner > div{
    width: 100%;
    margin: 0px auto 150px 20px;
}
.habits-container{
    width: 100%;
    flex-direction: column;
    margin: 0px;
}
.habits{
    width: 100%;
    flex-direction: column;
    margin: 0px;
}
.run-container{
    flex-direction: column;
    margin: 0px;
    margin-top: 30px;
    align-items: center;
    
}
.run-container > div{
    margin-bottom: 30px;
    padding: 30px;
    align-items: center;
    justify-content: center;
    background-color: rgba(34, 34, 34, 1);
}
.run-description{
    margin: 0px;
    margin-top: 100px;
}

.bmi{
    margin: 600px 0px 10px 0px;
}
.bmi-calculat{
    width: 100%;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}
.bmi-box{
    margin: 0px;
    padding: 0px;
}
.bmi-h{
    width: 100px;
    margin: 0px;
}
.bmi-chat{
    width: 100%;
    margin: 0px;
}
.bmi-calculat-container{
    margin: 0px;
}

.bmi-p{
    width: 346px;
    margin: 0px;
    margin-bottom: 0px;
    padding: 0px;
}
.bmi-form-container{
    margin-top: 30px;
}
.form{
    margin: 0px;
    margin-top: 100px;
}
.meet-section{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 100%;
    height: auto;

}
.meet-description{
    margin: 0px;
    padding: 0px;
    text-align: center;
    width: 100%;
}
.habit-h{
    width: 100%;
}
.trainer{
    grid-template-columns:repeat(1,1fr) ;

}
footer{
   
}
.footer{
    flex-direction: column;
    margin: 0px;
    margin-top: 1300px;
    
    width: 393px;
}
  .footer-container{
    flex-direction: column;
    margin: 0px;
  }
  .footer-Contact{
    flex-direction: column;
    margin: 0px;
    
  }
  .footer-description {
    margin: 0px;
    padding: 0px;
    gap: 0px;
  }
  .f-contact{
    margin: 0px;
    padding: 0px;
    gap: 0px;
  }
  #f-border{
    padding-bottom: 550px ;
}
 .copy-right{
    margin: 0px;
    width: 318px;
height: 24px;
top: 905px;
left: 18px;
gap: 0px;
opacity: 0px;

    margin-top: 0px;
    text-align: center;
 }

}

